[class^="container"]{
  background-color: rgba(127, 255, 212, 0.5);
  border: 1px solid black;
}

[class^="col"]{
  background-color: rgba(226, 43, 134, 0.617);
  border: 1px solid black;
  min-height: 50px;
}

header{
  height: 90px;
}

nav li{
  list-style: none;
}

nav li a{
  text-decoration: none;
}

.container_hero{
  width: 75%;
  margin: 0 auto;
}

main .hero{
  height: 490px;
}


@media screen and (min-width: 768px) {
  .container_hero{
    width: 600px;
    margin: 0 auto;
  }
  
  main .hero{
    height: 590px;
  }
  
}